.a {
  text-decoration: none;
  height: 32px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10px;
}
.a1 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 11px;
}
.nested-list-item {
  height: 26px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: -5px;
  left: -15px;
  z-index: 1;
}
.nested-list2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.nested-list-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-2xl);
  margin-top: -16px;
}
.nested-list1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-r-a-m-e {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs);
}
.indicator2 {
  height: 12px;
  width: 230px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--colors-blue);
}
.progress-indicatior2 {
  align-self: stretch;
  border-radius: var(--br-45xl);
  background-color: var(--neutral-gray-20);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.page {
  align-self: stretch;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.h11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.vision3 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: -0.03em;
  line-height: 24px;
}
.comment-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div12 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 200%;
  display: inline-block;
  min-width: 41px;
}
.div13 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.03em;
  line-height: 200%;
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
  color: var(--labels-primary);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.perspective-values {
  cursor: pointer;
  border: 1.4px solid var(--labels-primary);
  padding: var(--padding-12xs) var(--padding-7xs) var(--padding-12xs)
    var(--padding-5xs);
  background-color: var(--grays-white);
  align-self: stretch;
  height: 31.4px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.perspective-values:hover {
  background-color: var(--color-gainsboro-200);
  border: 1.4px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.perspective-headers {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.perspective-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div16 {
  height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.feedback-placeholder {
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.respondent-count {
  height: 41.6px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 28px;
}
.respondents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4px;
  font-size: var(--font-size-5xs);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}
.rate-percentage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.9px;
}
.div18 {
  position: relative;
  display: inline-block;
  min-width: 14px;
}
.div19 {
  position: relative;
  font-weight: 600;
  font-family: var(--font-lato);
}
.total-respondent-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43px;
}
.total-respondents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-3xs);
  font-size: var(--font-size-xs);
}
.rate-details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  margin-top: -1.6px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
}
.response-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.perspective-grid {
  position: absolute;
  top: 0px;
  left: 93px;
  width: 222px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.separator {
  position: absolute;
  top: 7px;
  left: 38px;
  border-radius: 0.8px;
  background-color: var(--color-tomato);
  border: 2.5px solid var(--color-tomato);
  box-sizing: border-box;
  width: 12px;
  height: 111px;
}
.h12 {
  margin: 0;
  position: absolute;
  top: 137px;
  left: 0px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.03em;
  line-height: 139%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 33px;
  height: 44px;
  min-width: 33px;
}
.div20 {
  position: absolute;
  top: 150px;
  left: 48px;
  font-size: var(--font-size-xs);
  letter-spacing: -0.03em;
  line-height: 139%;
  display: inline-block;
  width: 48px;
  height: 17px;
  min-width: 48px;
}
.perspective-container {
  width: 315px;
  height: 181px;
  position: relative;
}
.div21 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 139%;
  display: inline-block;
  min-width: 13.6px;
}
.comment-dots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.div24 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
}
.parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 208px;
  max-width: 100%;
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}
.user-comment {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-2);
  max-width: 100%;
  font-size: var(--font-size-xs);
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
}
.comment-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-5xs);
}
.comment-header-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-29xl);
  box-sizing: border-box;
  gap: 27px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--labels-primary);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}
.label4 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-base-size);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
  color: var(--grays-white);
  text-align: left;
}
.button2 {
  height: 44px;
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--colors-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-54xl) var(--padding-7xs)
    var(--padding-56xl);
  box-sizing: border-box;
  cursor: pointer;
}
.button-container {
  cursor: pointer;
  border: none;
  padding: 0px var(--padding-59xl) 0px var(--padding-60xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.root2 {
  width: 402px;
  background-color: var(--grays-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-59xl) var(--padding-13xl) 162px;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--labels-primary);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}

@media screen and (max-width: 338px) {
  .button-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 334px) {
  .user-comment {
    flex-wrap: wrap;
  }
}
