.a4 {
  text-decoration: none;
  height: 32px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.a5 {
  text-decoration: none;
  height: 32px;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 11px;
}
.frame-child1 {
  height: 26px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: -5px;
  left: -15px;
  z-index: 1;
}
.parent12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-2xl);
  margin-top: -16px;
}
.parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vertical-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs);
}
.indicator4 {
  height: 12px;
  width: 276px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--colors-blue);
}
.progress-indicatior4 {
  align-self: stretch;
  border-radius: var(--br-45xl);
  background-color: var(--neutral-gray-20);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-r-a-m-e2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.empty-list1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xs) 0px var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.vision6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.vision7 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: -0.03em;
  line-height: 200%;
}
.h13 {
  margin: 0;
  width: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 139%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.vision8 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 200%;
  display: inline-block;
  min-width: 64px;
}
.vision-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
  font-size: var(--font-size-xs);
}
.vision-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vision-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
}
.div32 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 139%;
  display: inline-block;
  min-width: 13.6px;
}
.parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.pta {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 139%;
}
.parent14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 209px;
  max-width: 100%;
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}
.example-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-2);
  max-width: 100%;
  font-size: var(--font-size-xs);
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
}
.vision-examples {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-13xl);
}
.div37 {
  width: 338px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 200%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 32px;
  word-break: break-word;
}
.wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xs);
  color: var(--color-lightgray);
}
.label7 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}
.description {
  width: 240px;
  position: relative;
  line-height: 140%;
  color: var(--text-default-secondary);
  display: none;
}
.value {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
  font-size: var(--font-size-xs);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 100%;
  color: var(--text-default-tertiary);
  text-align: left;
  display: inline-block;
}
.input {
  align-self: stretch;
  border-radius: var(--radius-200);
  background-color: var(--grays-white);
  border: 2px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
  min-width: 240px;
}
.error {
  position: relative;
  line-height: 140%;
  display: none;
}
.input-field {
  width: 337px;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.input-field-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
.vision-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.empty-list-parent {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  display: grid;
  grid-template-columns: 342px;
  grid-row-gap: 32px;
  grid-column-gap: 0px;
}
.label8 {
  height: 32px;
  position: relative;
  font-size: var(--body-base-size);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
  color: var(--grays-white);
  text-align: left;
  display: inline-block;
}
.button4 {
  border-radius: var(--br-21xl);
  background-color: var(--colors-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-54xl) var(--padding-7xs)
    var(--padding-56xl);
  cursor: pointer;
}
.button-frame {
  cursor: pointer;
  border: none;
  padding: 0px 82px 0px var(--padding-60xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.root4 {
  width: 402px;
  background-color: var(--grays-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-59xl) 28px 137px var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--labels-primary);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}

@media screen and (max-width: 400px) {
  .button-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 342px) {
  .empty-list-parent {
    gap: var(--gap-base);
    display: grid;
    grid-template-columns: 342px;
    grid-row-gap: 32px;
    grid-column-gap: 0px;
  }
}
@media screen and (max-width: 331px) {
  .example-container {
    flex-wrap: wrap;
  }
}
