.cap-icon4 {
  position: absolute;
  height: 31.54%;
  top: 36.92%;
  bottom: 31.54%;
  left: calc(50% + 12.35px);
  max-height: 100%;
  width: 1.3px;
}
.battery4 {
  height: 13px;
  width: 27.3px;
  position: relative;
}
.levels4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-base) 0px var(--padding-7xs);
}
.status-bar-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.status-bar-iphone4 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--grays-white);
  width: 402px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) 0px 0px;
  box-sizing: border-box;
}
.border4 {
  width: 25px;
  height: 13px;
  position: absolute;
  margin: 0 !important;
  top: 4.5px;
  right: 0px;
  border-radius: var(--br-8xs-3);
  border: 1px solid var(--labels-primary);
  box-sizing: border-box;
  opacity: 0.35;
}
.time9 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 37px;
}
.time8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-27xl);
}
.dynamic-island-spacer4 {
  align-self: stretch;
  height: 10px;
}
.spacer-container1 {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px 0px;
  box-sizing: border-box;
}
.time-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cellular-connection-icon4 {
  height: 12.2px;
  width: 19.2px;
  position: relative;
  flex-shrink: 0;
}
.wifi-icon4 {
  width: 17.1px;
  height: 12.3px;
  position: relative;
}
.a9 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 14px;
  flex-shrink: 0;
}
.b3 {
  position: relative;
  display: inline-block;
  min-width: 6.2px;
  flex-shrink: 0;
}
.network-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0px 0px;
  font-size: var(--font-size-xs);
}
.wifi-strength {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.7px;
}
.wifi-name-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl-9);
}
.capacity4 {
  height: 9px;
  width: 21.7px;
  position: relative;
  border-radius: var(--br-10xs-5);
  background-color: var(--labels-primary);
  z-index: 1;
}
.capacity-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-11xs);
}
.signal-percentage {
  position: relative;
  display: inline-block;
  min-width: 10.4px;
}
.signal-strength1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 67.5px;
}
.signal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0px 0px;
  font-size: var(--font-size-xs);
}
.wifi-container1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs-2);
  flex-shrink: 0;
}
.cellular-connection-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-3);
}
.connection-container {
  width: 73.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.8px 0px 0px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.top-content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl-7);
}
.indicator8 {
  height: 12px;
  width: 148.5px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--colors-blue);
}
.progress-indicatior8 {
  flex: 1;
  border-radius: var(--br-45xl);
  background-color: var(--neutral-gray-20);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-container1 {
  width: 321px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
}
.top-bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 364px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.status-bar-container1 {
  align-self: stretch;
  height: 140px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--labels-primary);
  font-family: var(--font-sf-pro);
}
.h15 {
  margin: 0;
  align-self: stretch;
  height: 48px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.vision11 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: -0.03em;
  line-height: 200%;
}
.parent22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label15 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  line-height: 20px;
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
  color: var(--grays-white);
  text-align: left;
}
.vision12 {
  cursor: pointer;
  border: none;
  padding: var(--padding-9xs) var(--padding-3xs);
  background-color: var(--colors-blue);
  width: 80.1px;
  height: 28px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;
}
.div70 {
  width: 339px;
  position: relative;
  line-height: 27px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.component-182 {
  width: 339px;
  height: 89px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-42xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--body-base-size);
}
.prompt {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.label16 {
  align-self: stretch;
  position: relative;
}
.button8 {
  height: 44px;
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--colors-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-68xl) var(--padding-7xs)
    var(--padding-70xl);
  box-sizing: border-box;
  cursor: pointer;
}
.action-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 63px 0px 67px;
  font-size: var(--body-base-size);
  color: var(--grays-white);
}
.prompt-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 384px;
  max-width: 100%;
}
.main-content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-12xl) 0px var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--labels-primary);
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
}
.root8 {
  width: 402px;
  background-color: var(--grays-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 44px;
  box-sizing: border-box;
  gap: 45px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 339px) {
  .prompt {
    gap: var(--gap-base);
  }

  .action-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .prompt-container {
    gap: 192px;
  }
}
