.a10 {
  text-decoration: none;
  height: 32px;
  position: relative;
  color: inherit;
  display: inline-block;
}
.a11 {
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 15px;
  color: inherit;
  display: inline-block;
  width: 11px;
  height: 32px;
  min-width: 11px;
}
.frame-child4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 26px;
  z-index: 1;
}
.parent24 {
  align-self: stretch;
  height: 37px;
  position: relative;
}
.frame-wrapper7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0px 0px;
}
.parent23 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper6 {
  width: 37px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs);
  box-sizing: border-box;
}
.indicator10 {
  height: 12px;
  width: 46px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--colors-blue);
}
.progress-indicatior10 {
  align-self: stretch;
  border-radius: var(--br-45xl);
  background-color: var(--neutral-gray-20);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.empty {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.vision14 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.03em;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.div79 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  color: var(--text-default-default);
}
.label20 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  line-height: 20px;
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
  color: var(--grays-white);
  text-align: left;
}
.vision15 {
  cursor: pointer;
  border: none;
  padding: var(--padding-9xs) var(--padding-3xs);
  background-color: var(--colors-blue);
  width: 79px;
  height: 24px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.div80 {
  width: 337px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.musashino-news {
  width: 338px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
}
.component-233 {
  width: 338px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--body-base-size);
}
.div81 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  display: inline-block;
  min-width: 49px;
}
.articles-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
}
.div82 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
}
.image-1-icon {
  align-self: stretch;
  height: 84px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.httpswwwmusabiacjpnews4 {
  align-self: stretch;
  height: 24px;
  position: relative;
  font-size: var(--font-size-5xs);
  line-height: 12px;
  color: var(--color-gray-100);
  display: inline-block;
}
.parent25 {
  width: 164px;
  height: 148px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div83 {
  position: relative;
  line-height: 16px;
}
.image-2-icon {
  align-self: stretch;
  height: 102px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.httpswwwmusabiacjpnews5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xs);
  line-height: 12px;
  color: var(--color-gray-100);
}
.article-items {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-4-icon {
  align-self: stretch;
  height: 109px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.protest-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 107px;
}
.image-5-icon {
  align-self: stretch;
  height: 94px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.httpswwwyoutubecomwatch {
  height: 24px;
  position: relative;
  font-size: var(--font-size-5xs);
  line-height: 12px;
  color: var(--color-gray-100);
  display: inline-block;
}
.protest-info-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-5xs);
}
.article-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--labels-primary);
}
.related-articles {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: #979797;
}
.vision-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xs);
}
.empty-parent {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  display: grid;
  grid-template-columns: 338px;
  grid-row-gap: 32px;
  grid-column-gap: 0px;
}
.label21 {
  position: relative;
  font-size: var(--body-base-size);
  font-family: var(--font-a-p-otf-aoto-gothic-stdn);
  color: var(--grays-white);
  text-align: left;
}
.button10 {
  border-radius: var(--br-21xl);
  background-color: var(--colors-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-40xl) var(--padding-7xs)
    var(--padding-42xl);
  cursor: pointer;
}
.button-wrapper2 {
  cursor: pointer;
  border: none;
  padding: 0px 80px 0px var(--padding-54xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.root10 {
  width: 402px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--grays-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-59xl) var(--padding-13xl) 84px;
  box-sizing: border-box;
  gap: var(--gap-61xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--labels-primary);
  font-family: var(--font-a-p-sk-ishiigothic-stdn);
}

@media screen and (max-width: 338px) {
  .empty-parent {
    gap: var(--gap-base);
    display: grid;
    grid-template-columns: 338px;
    grid-row-gap: 32px;
    grid-column-gap: 0px;
  }

  .button-wrapper2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 334px) {
  .parent25 {
    flex: 1;
  }

  .article-items {
    flex-wrap: wrap;
  }
}
